node_modules/
.expo/
dist/
web-build/
/android/
/ios/
*.apk
*.aab
*.ipa
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem
.env
.env*.local
credentials.json
npm-debug.*
yarn-error.*
.DS_Store
expo-env.d.ts
